@{
    ViewBag.Title = "About Page";
}
<div class="container">
    <div class="row">
        <h1>About Page</h1>
        <div class="row">
            <div class="col-md-4" style="background-color: aquamarine">
                <p>Left</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor sapien tristique neque mollis, eget vulputate ligula vestibulum. Mauris ac pharetra ex. Morbi aliquet ac sem quis venenatis. Maecenas massa nibh, sodales in cursus ut, semper in mauris. Aenean iaculis tortor ut condimentum accumsan. Sed euismod finibus ante, sit amet tristique eros interdum ut. Nulla viverra eros at libero suscipit mattis. Nulla eget hendrerit nulla. Quisque eget justo sed tortor molestie vehicula id id odio. Vivamus ultricies magna et eleifend facilisis. In hac habitasse platea dictumst. Morbi eget magna justo. Etiam at nisi odio. Morbi sodales mattis auctor. Proin sit amet nisi risus. Maecenas mollis pulvinar auctor.</p>
            </div>
            <div class="col-md-4" style="background-color: aqua">
                <p>Middle</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor sapien tristique neque mollis, eget vulputate ligula vestibulum. Mauris ac pharetra ex. Morbi aliquet ac sem quis venenatis. Maecenas massa nibh, sodales in cursus ut, semper in mauris. Aenean iaculis tortor ut condimentum accumsan. Sed euismod finibus ante, sit amet tristique eros interdum ut. Nulla viverra eros at libero suscipit mattis. Nulla eget hendrerit nulla. Quisque eget justo sed tortor molestie vehicula id id odio. Vivamus ultricies magna et eleifend facilisis. In hac habitasse platea dictumst. Morbi eget magna justo. Etiam at nisi odio. Morbi sodales mattis auctor. Proin sit amet nisi risus. Maecenas mollis pulvinar auctor.</p>
            </div>
            <div class="col-md-4" style="background-color: burlywood">
                <p>Right</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor sapien tristique neque mollis, eget vulputate ligula vestibulum. Mauris ac pharetra ex. Morbi aliquet ac sem quis venenatis. Maecenas massa nibh, sodales in cursus ut, semper in mauris. Aenean iaculis tortor ut condimentum accumsan. Sed euismod finibus ante, sit amet tristique eros interdum ut. Nulla viverra eros at libero suscipit mattis. Nulla eget hendrerit nulla. Quisque eget justo sed tortor molestie vehicula id id odio. Vivamus ultricies magna et eleifend facilisis. In hac habitasse platea dictumst. Morbi eget magna justo. Etiam at nisi odio. Morbi sodales mattis auctor. Proin sit amet nisi risus. Maecenas mollis pulvinar auctor.</p>
            </div>
        </div>
    </div>
</div>
