@{
    ViewBag.Title = "Download Page";
}
@section Scripts{
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-downloads.js"></script>
    <script src="~/js/downloadController.js"></script>

}

<div ng-app="app-downloads">
    <div>
        <a id="save" class="btn btn-sm btn-info" data-toggle="modal" href="#myModal">
            Download
        </a>
    </div>
    <div ng-view></div>
</div>

